a   {
    color: white;
}
body    {
    background-color: #FAC900;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
.bodyOnboarding    {
    background-color: #FAC900;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    margin: 0px 18px 0px 18px;
}
.centerLogo   {
    display: flex;
    justify-content: center;
}
.Logo {
    max-width: 200px;
    margin-top: 90px;
    padding-bottom: 30px;
}
.logoHrzl {
    width: 200px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.notificationStyle {
    background-color: #FAC900;
    border: none;
    justify-content: end;
}
.btn {
    margin-bottom: 15px;
    background-color: #2766A7;
    outline: none;
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 45px;
}
.onboardSubtext {
    color: #942A9F;
}
h1 {
    color: #942A9F;
    font-size: 35px;
    padding-bottom: 10px;
}
#hamburger  {
    width: 35px;
}
#phoneLink  {
    width: 45px;
    position: absolute;
    right: 100px;
    top: 25px;
}
#activities {
    display: flex;
    justify-items: flex-end;
}
.tip    {
    background-image: linear-gradient(to bottom, rgba(148,42,159,1), rgba(74,21,80,1));
    height: 145px;
    border-bottom-left-radius: 44px;
    border-top-left-radius: 44px;
}

/* Footer */

.footerButtons {
    align-items: center;
}
.fa-circle {
    color: #2766A7;
    align-items: center;
    justify-items: center;
}
.footerButtonText {
    justify-items: center;
    align-items: space-around;
    display: block;
    padding-top: 60px;
}
.bottomNav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px!important;
    background-color: #F6A623;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    font-size: 0.5em;
    margin: auto;
    height: 15vh;
}
.iconBlock {
    display: inline-block;
    text-align: center;
}
.navItem {
    display: flex;
    justify-content: center;
}
.fa-globe{
    text-shadow:1px 1px #942A9F
}

.splashContent{
    text-align: center;
}
.fas-icon-styles{
    padding: 30px;
}


/* Tab Styles */


.splashContent{
    text-align: center;
}
.fas-icon-styles{
    padding: 30px;
    color: #2766A7;
}
.tabContent{
    background-color: white;
}
.tabContent a{
    color: black;
}

.right-tabs.sideways-tabs {
    margin-top: 4rem;
    border: none;
    position: relative;
    margin-bottom: 0;
}
  
.right-tabs.nav-tabs, .right-tabs.sideways-tabs {
    height: 100%;
    flex-direction: column;
}
    
.right-tabs.nav-tabs {
    border-bottom: none;
}
  
.right-tabs.sideways-tabs {
    border-left: none;
}
  
  .sideways-tabs.right-tabs .nav-item {
    transform: rotate(90deg);
    height: 1rem;
    margin-bottom: calc(9rem - 1rem); }
  
  .sideways-tabs.right-tabs .nav-link {
    width: 9rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 24px;
}
  
.sideways-tabs.right-tabs .nav-link.active {
    background-color: #fefefe!important;
}
.sideways-tabs.right-tabs .nav-link:hover{
    color: initial;
}
  .safetyPlanRow{
      flex-wrap: nowrap;
  }
  .tabContainer{
      width: 111%;
      padding-right: 0px;
      background-color: #fefefe;
      height: 720px;
  }
  .warningSignsDisabled{
      background-color: #942A9F!important;
  }
  .myNetworkDisabled{
      background-color: #2766A7!important;
  }
  .copingSkillsDisabled{
      background-color: #10A1AF!important;
  }
  .myHappyPlaceDisabled{
      background-color: #2A9F51!important;
  }
  .nav-tabs .nav-link{
    background-color: #F6A623;
  }
  .safetyPlanIcon, .warningSignsIcon, .myNetworkIcon, .copingSkillIcon, .myHappyPlaceIcon{
    text-align: center;
  }
  .safetyPlanIcon{
    color: #F6A623;
  }
  .safetyPlanIcon i, .warningSignsIcon i, .myNetworkIcon i, .copingSkillIcon i, .myHappyPlaceIcon i{
      margin: 30px;
  }
  .warningSignsIcon{
    color: #942A9F!important;
  }
  .myNetworkIcon{
      color: #2766A7;
  }
  .copingSkillIcon{
      color: #10A1AF;
  }
  .myHappyPlaceIcon{
      color: #2A9F51;
  }